In [1]:
import pandas as pd

In [2]:
data = pd.read_json('C:/Users/it/dataset/simple.json')

In [3]:
data.head(3)

      name  age grade
0    Andew   12     A
1   Bhuvan   18     B
2  Clinton   11     A

----
#### [1] Some of the json files are written as records i.e each json object is written in a line. 
----

In [4]:
data_with_records = pd.read_json('C:/Users/it/dataset/simple_records.json') # here data is writen indiff diff lines.

ValueError: Trailing data

In [6]:
data_with_records = pd.read_json('C:/Users/it/dataset/simple_records.json',lines=True)
data_with_records.head(3)

      name  age grade
0    Andew   12     A
1   Bhuvan   18     B
2  Clinton   11     A

----
#### [2] Reading nested json file . 

#### Most of the json files are nested and we cannot directly import them into a dataframe. We first need to clean and filter the json file in order to convert it into a dataframe.
----

In [7]:
# Can't read nested json in pandas
pd.read_csv('C:/Users/it/dataset/nested.json')

ParserError: Error tokenizing data. C error: Expected 1 fields in line 4, saw 2

In [8]:
import json

In [9]:
with open('C:/Users/it/dataset/nested.json') as f :
    my_json_data = json.load(f)

print(my_json_data)

[{'student_roll_no': 101, 'details': {'name': 'Andew', 'age': 12, 'grade': 'A'}}, {'student_roll_no': 102, 'details': {'name': 'Bhuvan', 'age': 18, 'grade': 'B'}}, {'student_roll_no': 103, 'details': {'name': 'Clinton', 'age': 11, 'grade': 'A'}}, {'student_roll_no': 104, 'details': {'name': 'Drake', 'age': 12, 'grade': 'C'}}, {'student_roll_no': 105, 'details': {'name': 'Eisha', 'age': 13, 'grade': 'B'}}, {'student_roll_no': 106, 'details': {'name': 'Farhan', 'age': 22, 'grade': 'C'}}, {'student_roll_no': 107, 'details': {'name': 'Garima', 'age': 11, 'grade': 'A'}}, {'student_roll_no': 108, 'details': {'name': 'Himanshu', 'age': 19, 'grade': 'A'}}, {'student_roll_no': 109, 'details': {'name': 'Ishaan', 'age': 10, 'grade': 'D'}}, {'student_roll_no': 110, 'details': {'name': 'Jason', 'age': 9, 'grade': 'B'}}]

In [10]:
# use pprint or (pretty print) to print the data in the structured format
from pprint import pprint
pprint(my_json_data)

[{'details': {'age': 12, 'grade': 'A', 'name': 'Andew'},
  'student_roll_no': 101},
 {'details': {'age': 18, 'grade': 'B', 'name': 'Bhuvan'},
  'student_roll_no': 102},
 {'details': {'age': 11, 'grade': 'A', 'name': 'Clinton'},
  'student_roll_no': 103},
 {'details': {'age': 12, 'grade': 'C', 'name': 'Drake'},
  'student_roll_no': 104},
 {'details': {'age': 13, 'grade': 'B', 'name': 'Eisha'},
  'student_roll_no': 105},
 {'details': {'age': 22, 'grade': 'C', 'name': 'Farhan'},
  'student_roll_no': 106},
 {'details': {'age': 11, 'grade': 'A', 'name': 'Garima'},
  'student_roll_no': 107},
 {'details': {'age': 19, 'grade': 'A', 'name': 'Himanshu'},
  'student_roll_no': 108},
 {'details': {'age': 10, 'grade': 'D', 'name': 'Ishaan'},
  'student_roll_no': 109},
 {'details': {'age': 9, 'grade': 'B', 'name': 'Jason'}, 'student_roll_no': 110}]

---
#### ***Create a new json file contains the age and name of the people whose age is greater than 15.***
---

In [12]:
my_json_data[0]

{'student_roll_no': 101, 'details': {'name': 'Andew', 'age': 12, 'grade': 'A'}}

In [13]:
my_json_data[0]['details']

{'name': 'Andew', 'age': 12, 'grade': 'A'}

In [14]:
my_json_data[0]['details']['age']

12

In [15]:
for data in my_json_data:
    print(data['details']['age'])

12
18
11
12
13
22
11
19
10
9

In [16]:
filtered_data = []

for data in my_json_data:
    
    filtered_variable = {}
    
    if data['details']['age'] > 15:
        
        filtered_variable['age'] = data['details']['age']
        filtered_variable['name']= data['details']['name']
        filtered_data.append(filtered_variable)

In [17]:
filtered_data

[{'age': 18, 'name': 'Bhuvan'},
 {'age': 22, 'name': 'Farhan'},
 {'age': 19, 'name': 'Himanshu'}]

In [19]:
# put the filtered data into the new json file
with open('C:/Users/it/dataset/filtered.json','w') as f:
    
    json.dump(filtered_data, f, indent=4)  # indent=4 is a indentation space.